@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222222;
    padding-bottom: 50px;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    height: 50px;
}

.nav {
    position: fixed;
    background-color: #2222228e;
    top: 0;
    left: 0;
    right: 0;
}

.nav .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav a {
    color: #fff;
    padding: 15px;
}

.bx {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url(./imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 3px;
}

h2, h3 {
    font-size: 150%;
    margin: 20px;
}

.content p {
    color: #444;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}